<div class="nenodex-list">
  <h3>NENOMONS DISPONIBLES</h3>
  <div class="nenomon-grid">
    <div class="nenomon-card" *ngFor="let nenomon of nenomons">
      <div class="nenomon-sprite">
        <img [src]="'assets/images/' + nenomon.sprite"
             [alt]="nenomon.name"
             class="pixel-sprite">
      </div>
      <div class="nenomon-info">
        <h4>{{ nenomon.name }}</h4>
        <div class="type-badges">
          <span *ngIf="!nenomon.type.includes('/')"
                class="type-badge planta">
            {{ nenomon.type }}
          </span>
          <span *ngIf="nenomon.type.includes('/')"
                class="type-badge planta">
            {{ nenomon.type.split('/')[0] }}
          </span>
          <span *ngIf="nenomon.type.includes('/')"
                class="type-badge veneno">
            {{ nenomon.type.split('/')[1] }}
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
